{% load static %}
    <!-- ***** Footer Area Start ***** -->

    <!-- jQuery -->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static '/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/js/scrollreveal.min.js' %}"></script>

    <!-- SweetAlert
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    {% load sweetify %}
    {% sweetify %}  -->
    
    <!-- Jquery-2.2.4 JS -->
    <script src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins JS -->
    <script src="{% static '/js/plugins.js' %}"></script>
    <!-- Slick Slider Js-->
    <script src="{% static '/js/slick.min.js' %}"></script>
    <!-- Footer Reveal JS -->
    <script src="{% static '/js/footer-reveal.min.js' %}"></script>
    <!-- Active JS -->
    <script src="{% static '/js/active.js' %}"></script>
  